/* GREEN-YELLOW THEME*/
:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
    --grid-cols: 1;
    --grid-rows: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgba(255,255,255,0.1); 
}

.title{
    color: var(--color-brand2)
}

.container{
    height: 100vh;
    background-color: #022a30
}

.row{
    background-color: var(--color-base);}

.grid-container{
    display: grid;
    grid-gap: .1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: .1em;
    border: 1px solid #ddd;
    text-align: center;
  }

.grid-card, .button-card{
    background-color: var(--color-base);
}


/*panel*/ 

.color-container{
    min-width: 100%;
}

.color-picker{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

button{
    min-width: 80%;
}

.input{
    max-width: 75px;
    min-height: 75px;
}

@media(min-width: 1024px){
    .main-wrapper{
        margin-top: 50px;
    }
    #grid-container{
        height: 600px;
        width: 600px;
    }
    #list-container{
        width: 300px;
        height: 600px;
    }
}

