/* GREEN-YELLOW THEME*/
:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgba(255,255,255,0.1); 
}

.title{
    color: var(--color-brand2)
}

.container{
    border: 1px solid black;
    height: 100vh;
    background-color: antiquewhite;
}

.row{
    background-color: var(--color-base);}

.grid{
    height: 99%;
    width: 99%;
    border: 1px black solid;
    flex-shrink: 1;
    margin: auto;
    background-color: white;
}

.grid-card, .button-card{
    background-color: var(--color-base);
}




/* Buttons */
.css-button-shadow--grey {
    min-width: 130px;
    height: 40px;
    color: var(--color-heading);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #6c757d;
    box-shadow: 0 3px 1px -1px var(--color-brand2), 0 2px 2px 0 var(--color-brand2), 0 1px 5px 0 var(--color-brand2);
    }
.css-button-shadow--grey:active {
    box-shadow: 0 4px 2px -3px var(--color-brand2), 0 4px 5px 1px var(--color-brand2), 0 2px 7px 1px var(--color-brand2);
    }

