@font-face {
    font-family: 'Mochiy';
    src: url(../fonts/MochiyPopOne-Regular.ttf);
}
@font-face {
    font-family: 'Nunito';
    src: url(../fonts/NunitoSans-Regular.ttf);
}
/*:root {
    --color-body: #b6cbce;
    --color-heading: #d0f53b;
    --color-base: #1D1A31;
    --color-base2: #1D1A31;
    --color-brand: #e7c5ca;
    --color-brand2: #dfaabc;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}*/

/*
:root {
    --color-footer: #50a1e2;
    --color-heading: #d0f53b;
    --color-base: #000814;
    --color-base2: #001d3d;
    --color-base-shadow: #031527;
    --color-brand: #ffc300;
    --color-brand2: #ffd60a;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}
*/

:root {
    --color-footer: #50a1e2;
    --color-heading: #d0f53b;
    --color-base: #001027;
    --color-base2: #002347;
    --color-base-shadow: #011a33;
    --color-brand: #ffc300;
    --color-brand2: #ffe047;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.full-height{
    min-height: 100vh;
    height: 100%;
}

/* MAIN CONTAINER */
.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-base);
}

h1{
    color: var(--color-brand);
    font-size: 40px;
    animation: transitionIn 2s;
    font-family: 'Mochiy';
}

.wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    height: 700px;
}

.selection{
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    animation: transitionIn 2.5s;
    
}

.color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-selection{
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

.color input{
    margin-bottom: 20px;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
    transition: all .5s ease-in-out;
    background: var(--color-base-shadow);
    box-shadow:  8px 8px 33px var(--color-base-shadow),
                -8px -8px 33px var(--color-base-shadow);
                
  }
  
  input[type=color]::-webkit-color-swatch-wrapper {
      border: none;
      border-radius: 50%;
      padding: 0;
  }

  input[type=color]:hover{
    transform: scale(1.05); 
  }

.grid-slider{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.grid-slider label{
    color: var(--color-footer);
    font-size: 12px;
    padding: 10px;
    font-family: 'Mochiy';
}



/* GRID */
.container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 25px;
    width: 75%;
    border: 1px solid rgba(228, 226, 226, 0.3);
    /* gloss */
    background: rgba(40, 13, 65, 0.1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation: transitionIn 3.5s;
}


/* BUTTONS */

.css-button-3d--blue {
    font-family: 'Nunito';
    min-width: 120px;
    height: 40px;
    color: var(--color-brand2);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    background: rgba(0, 35, 71, 0.3);
    box-shadow: 0 4px 12px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
  }
  .css-button-3d--blue:hover {
    box-shadow: 0 3px var(--color-base-shadow);
    top: 1px;
  }
  .css-button-3d--blue:active {
    box-shadow: 0 0 var(--color-base-shadow);
    top: 5px;
  }


/* FOOTER */

.footer{
    color: var(--color-footer);
    animation: transitionIn 7s;
    font-family: 'Mochiy';
    font-size: 12px;
}

a{
    color:var(--color-footer);
    transition: all 0.8s ease;
    text-decoration: none;
}

a:hover{
    color: var(--color-brand);
}

.link-custom{
    position: relative;
}

.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s
}

.link-custom:hover::after{
    width: 100%;
}

/* RESPONSIVE */

@media(max-width: 1024px){
    .wrapper{
        height: 60vh;
    }
}

@media(max-width: 768px){
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
    }
    .container{
        height: 50vh
    }
    .selection{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    button{
        margin: 10px;
    }
    .color{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }
    .color button{
        margin-left: 40px;
        margin-right: -20px;
    }
    .grid-slider{
        display: flex;
        flex-direction: column;
    }
    .grid-slider label{
        margin: 5px;
        text-align: center;
    }
}

@media(max-width: 425px){
    .container{
     height: 50vw
    }
    .selection{
        flex-direction: column;
        padding: 10px
    }
    .color{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .color button{
        margin: 0 auto;
    }
    button{
        width: 40vw;
        margin: 10px;
    }
    .grid-slider{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .grid-slider label{
        margin: 5px;
        text-align: center;
    }
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 125px;
      -webkit-appearance: none;
      background-color: #b49e2e;
      border-radius: 25px;
      background: rgba(0, 35, 71, 0.3); 
      box-shadow: 0 4px 12px 0 rgba( 31, 38, 135, 0.37 );
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 15px;
      -webkit-appearance: none;
      color: #063666;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;
      height: 15px;
      cursor: ew-resize;
      background: #609ed1;
      box-shadow: -80px 0 0 80px #063666;
      
    }
}


@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-60deg)
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}